<ion-header>
    <ion-toolbar color="primary">
      <ion-title class="logo-title">
        <img src="assets/logo.png" alt="" width="80px" />
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
            Profesor
          <ion-icon name="person-circle-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="grid-container">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card button (click)="openModal()">
              <ion-card-content>
                <ion-icon name="time-outline"></ion-icon>
                Registrar Asistencia
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>

  <ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="configuracion" routerLink="/config-profe">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
